.form-content{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 1cm;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form h1{
    margin: 10px 0;
}

.form-header{
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
}

#personal-detail-form strong, #skills-form .form-editor-content strong{
    width: 20ch;
}

.sortable-list {
    user-select: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sortable-item {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    font-weight: 600;
    /* padding: 5px 0; */
    /* color: white; */
    /* background-color: dimgray; */
    cursor: grab;
}

.sortable-dragged {
    /* background-color: black; */
    /* color: white; */
    background-color: white;
    border: 2px solid black;
    cursor: grabbing;
}

.edit-button > .icon{
    opacity: 0;
    scale: 0;
    width: 18px;
    position: relative;
    top: -5px;
    right: -5px;
    transition: 0.1s;
}

.edit-button:hover{
    font-weight: 600;
}

.edit-button:hover >.icon {
    display: block;
    scale: 100%;
    opacity: 100%;
}

.hide-side-buttons .form-side-buttons{
    display: none;
}

.hide-side-buttons:hover .form-side-buttons{
    display: flex;
}

.form-side-buttons{
    display: flex;
    align-items: center;
    gap: 20px;
}

.form-side-buttons button, .form-editor-content button{
    color: dimgray;
    font-weight: 600;
}

.form-side-buttons button:hover,
.form-editor-content button:hover {
    color: black;
}

form svg{
    fill: currentColor;
}

.form-content input{
    flex: auto;
}

textarea, input{
    padding: 5px;
}

.strike-through{
    text-decoration: line-through;
}

.form-header-button, .form-side-buttons button, .edit-button, .form-editor-content button{
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: transparent;
    padding: 0;
    margin: 0;
    border: none;
}

.edit-button.highlight .icon{
    display: none;
}

.form-side-buttons .icon, .form-editor-content .icon{
    width: 20px;
}

form .highlight{
    color: white;
    background-color: black;
    font-weight: 600;
}

.form-editor{
    border: 2px dotted dimgray;
    padding: 10px;
}

.form-editor .primary-buttons{
    display: flex;
    justify-content: space-around;
    gap: 10px;
}

.form-editor .primary-buttons button{
    flex: auto;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.form-editor .primary-buttons button::before{
    content: "[";
    position: relative;
    left: -25px;
    transition: 0.1s;
}

.form-editor .primary-buttons button::after {
    content: "]";
    position: relative;
    right: -25px;
    transition: 0.1s;
}

.form-editor .primary-buttons button:hover::before {
    left: 0px;
}

.form-editor .primary-buttons button:hover::after {
    right: 0px;
}

.form-editor .primary-buttons button:hover{
    font-weight: 600;
}

.form-editor-content{
    padding: 10px;
}

.form-editor-content{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-editor-content label , .form-editor-content .list-container{
    display: flex;
    flex-direction: column;
    gap: 5px;
    flex: auto;
}